body {
  background-color: whitesmoke;
  font-family: 'Source Code Pro', 'Arial', sans-serif;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a { text-decoration: none; }
a:link { color: teal; }
a:active { color: firebrick; }
a:visited { color: darkslategrey; }
a:hover { color: darksalmon; }
nav { text-align: center; }
nav .active { font-weight: bolder; }
nav > *:not(:last-child):after { content: '\2014'; }
main {
  flex: 1;
  padding: 2ex;
  display: flex;
  justify-content: center;
}
footer { padding-bottom: 3ex; }

@media screen and (max-width: 30em) {
  body #content {
    padding: 0;
    font-size: 0.8em;
  }
}
@media screen and (min-width: 75em) {
  body #content {
    padding: 10ex;
    font-size: 1.5em;
  }
}
